body{
    position: relative;
}
body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px "","Arial Narrow";background:#fff;}

a{color:#172c45;text-decoration:none}
a:hover{color:#ff9501;text-decoration:none;}
em{font-style:normal}
li{list-style:none}
img{border:0;display:block;
    padding:0;
    margin:0;}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word;}
.ind{text-indent:2em}
.border0{border:0;}
input,textarea{outline:none;}
.left{float:left;}
.right{float:right;}
.clear:after{content:".";clear:both;display:block;height:0;font-size:0;overflow:hidden;visibility:hidden;}
.clearx{clear:both;}
.over{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.cu{cursor:pointer;}
.margin{width:96%;margin:0 auto;}

.bodys .center .sponsored-container-top-wrapper {
    height: 40px;
    margin: 0 auto;
    width: auto;
    min-width: 1024px;
    max-width: 1366px;
    text-align: center;
    position: relative;
}
.bodys .center .sponsored-container-top-wrapper .container-responsive{
    overflow: hidden;
    max-width: 1000px;
    max-height: 40px;
    margin: 0 auto;
}
.bodys .center .container-full{
    width: auto;
    min-width: 1024px;
    max-width: 1366px;
    position: relative;
}
.bodys .center .container-full .search-container-center-wrapper{
    float: left;
    width: 100%;
}
.bodys .center .container-full .search-container-center-wrapper .search-container-center{
    margin-left: 224px;
}

.bodys .center .container-full .search-container-sidebar{
    float: left;
    min-height: 400px;
    width: 224px;
    margin-left:-100%;
}
.bodys .center .container-full .sidebar-container{
    z-index: 1;
    position: relative;
    border: solid 1px #e9e9e9;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.05);
}

.bodys .center .container-full .search-container-center-wrapper .search-container-center .merchant-module{
   width: 100%;
    margin-bottom:20px;
}
.bodys .center .container-full .search-container-center-wrapper .search-container-center .merchant-module img{
    display: block;
    width:100%;
    padding:0;
    margin:0;
}
.bodys .center .container-full .search-container-center .linkBar{
    background-color: #292929;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
}
.bodys .center .container-full .search-container-center .linkBar a{
    color: #ffffff;
    height:45px;
    display: inline-block;
    line-height:50px;
    text-align: center;
    font-weight: 800;
    font-size: 14px;
    width:20%;
    
}
.bodys .center .container-full .search-container-center .utility-bar-container{
    padding: 18px 20px 15px;
    border-bottom: 2px solid #e9e9e9;
    height:30px;
}
.bodys .center .container-full .search-container-center .utility-bar-container .uility-bar-refiner .utility-bar-text{
    font-size: 14px;
    margin-right: 6px;
    color: #222;
}
.bodys .center .container-full .search-container-center .tile-container{
    position: relative;
}
.bodys .center .container-full .search-container-center .tile-container .tile-grid-unit-wrapper{
    width: 20%;
    float: left;
    display: inline-block;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
}
.bodys .center .container-full .search-container-center .tile-container .tile-grid-unit-wrapper .tile-grid-unit{
    padding-bottom: 12px!important;
    position: relative;
    display: inline-block;
    width: 200px;
    padding-top:20px;
    /*padding-left:10px;*/
    /*padding-right:10px;*/
    text-align: left;
    vertical-align: top;
}
.bodys .center .container-full .search-container-center .tile-container .tile-grid-unit-wrapper .tile-grid-unit .flag{
    position: absolute;
    top: 12px;
    left: 10px;
    box-shadow: 0 0 0 3px rgba(255,255,255,.7);
    float: left;
    clear: both;
    height: 16px;
    padding: 0 10px;
    margin-bottom: 4px;
    border-radius: 0 50px 50px 0;
    background: #007dc6;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}
.bodys .center .container-full .search-container-center .tile-container .tile-grid-unit-wrapper .tile-grid-unit .product-imag{

    /*display: block;*/
    width: 180px;
    height: 180px;
    cursor: pointer;
}
.bodys .center .container-full .search-container-center .tile-container .tile-grid-unit-wrapper .tile-grid-unit .tile-price{
    height: 40px;
    margin-top: 12px;
}
.bodys .center .container-full .search-container-center .tile-container .tile-grid-unit-wrapper  .tile-price .price-display{
    margin-right: 4px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    color: #007dc6;
    text-transform: uppercase;
}
.bodys .center .container-full .search-container-center .tile-container .tile-grid-unit-wrapper  .tile-price .price-auxblock{
    margin: 4px 0 0 4px;
    display: inline-block;
    line-height: 1.05;
    color: #007dc6;
}
.bodys .center .container-full .search-container-center .tile-container .tile-grid-unit-wrapper  .tile-price .price-aux{
    font-size: 14px;
    font-weight: 500;
}
.bodys .center .container-full .search-container-center .price-saving{
    color: #f1252c;
    font-size: 14px;
}
.bodys .center .container-full .search-container-center .js-product-tile:hover{
    color: #3da1e0;
}
.bodys .center .container-full .search-container-center .tile-container .tile-grid-unit-wrapper  .tile-heading{
    margin-top: 10px;
    height:54px;
    overflow: hidden;
    /*font-weight: 500;*/
    color: #444;
}
.bodys .center .container-full .search-container-center .tile-container .tile-grid-unit-wrapper  .stars{
    height: 12px;
    margin-top: 8px;
    color: #d9d9d9;
}
.bodys .center .container-full .search-container-center .tile-container .tile-grid-unit-wrapper  .tile-details{
    height: 40px;
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.2;

}
.bodys .center .container-full .search-container-center .custom-written-content{
    margin: 15px 22px;
}
.bodys .center .container-full .search-container-center .custom-written-content b{
    font-weight:700;
}
.bodys .center .container-full .search-container-center .custom-written-content p{
    margin: 24px 0 0;
    color: #444;
    font-weight:500;
}
.bodys .center .container-full .search-container-center .custom-written-content a{
    color: #007cd6;
}

.bodys .container-full .utility-bar-container .uility-bar-refiner .flyout-align{
    margin-right: 5px;
    position: relative;
    display: inline-block;

}

.bodys .center .container-full .sidebar-container .expander-toggle{
    position: relative;
    display: block;
    margin: 10px;
    padding: 10px;
    /*height: 36px;*/
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    color: #444;
    line-height:1;
}
.bodys .center .container-full .sidebar-container .expander-content{
    padding: 0 20px 20px;
    color: #e9e9e9;
}

.bodys .center .container-full .sidebar-container .block-list .radio{
    display:block;
    margin: 16px 0 0;
    font-size:14px;
}
.bodys .center .container-full .sidebar-container .block-list input{
    position: relative;
    width: 18px;
    height: 18px;
    margin: -2px 8px 0 0;
    border: 1px solid #c2cfd6;
    border-radius: 50%;
    background: #76c143;
}
.bodys .center .container-full .block-list .menus{
    font-size: 14px;
    line-height: 1.2;
    color: #444;
}
.bodys .center .container-full .sidebar-container .block-list input::after{
    background: #76c143;
}
.bodys .center .container-full .sidebar-container .breadcrumb-list{
    text-align: left;
}
.bodys .center .container-full .search-container-sidebar .result-summary-container{
    position: relative;
    padding: 16px 20px 13px;
    font-size: 14px;
}
.bodys .center .search-container-center .breadcrumb-container{
    position: relative;
    padding: 16px 20px 9px;
    font-size: 14px;
    font-family:Arial;
    display: table;
}
.bodys .center .search-container-center .breadcrumb-container .breadcrumb-list{
    float: left;
}
.bodys .center .search-container-center .breadcrumb-container .breadcrumb-list .js-breadcrumb{
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-family: WalmartIcons;
    font-style: normal;
    font-weight: 400;

}


